name: KNL operator image and manifests
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' #trigger on tag like `v0.0.1`
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and push KNL operator image and the manifest
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write

    env:
      IMG_BASE: ${{ github.repository }}/knl
      REGISTRY: ghcr.io
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Extract Tag
        run: echo "TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      
      - name: go mod download
        run: go mod download

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image on Dockerhub
        run: make docker-push MGRVER=${{ env.TAG }} IMG=${{ env.REGISTRY }}/${{ env.IMG_BASE }}:${{ env.TAG }} IMGNOTAG=${{ env.REGISTRY }}/${{ env.IMG_BASE }}

      - name: build manifests
        run: make deploymanifests IMG=${{ env.REGISTRY }}/${{ env.IMG_BASE }}:${{ env.TAG }}

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} \
            --title "Release ${{ github.ref_name }}" \
            --notes "Automated release for ${{ github.ref_name }}" \
            all.yaml